[MASTER]
# RegEx
ignore-patterns=.+.pyi

disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0105, # pointless-string-statement
    W0511, # fixme
    R0801, # similar lines

[FORMAT]
max-line-length=150
