name: "[C]ontinuous [I]ntegration"

on:
  push:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  PYTHONPATH: src
  DOCKER_BUILDKIT: 1
  PYRIGHT_PYTHON_FORCE_VERSION: latest
  SEMANTIC_RELEASE_AGRS: "${{ github.ref }} === 'refs/heads/main' ? '' : '--noop'"

permissions:
  checks: write
  contents: read
  pull-requests: write
  security-events: write

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    permissions:
      issues: write # to be able to comment on released issues
      contents: write # to be able to publish a GitHub release
      id-token: write # to enable use of OIDC for npm provenance
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - uses: percebus/github-actions-python/.github/actions/setup@main
      - uses: percebus/github-actions-pip/.github/actions/install-upgrade@main
      - uses: percebus/github-actions-pipx/.github/actions/install@main
      - uses: percebus/github-actions-poetry/.github/actions/self_add_plugins@main
      - uses: percebus/github-actions-poetry/.github/actions/install@main

      # prettier & dockerlint
      - uses: percebus/github-actions-node/.github/actions/setup@main
      - uses: percebus/github-actions-npm/.github/actions/install@main

      - name: pypyr lint
        run: pipx run -- pypyr lint stats=True

      - name: pypyr test
        run: pipx run -- pypyr ci lint=False

      - name: doctest
        run: bash scripts/doctest/run.ba.sh

      - uses: percebus/github-actions-testing/.github/actions/junit@main
        with:
          tests_name: "" # disables actions/test-reporter. It doesn't like pytest's junit format
          files_pattern: test-results.xml

      - name: semantic-release
        run: semantic-release -vv --push --vcs-release ${{ env.SEMANTIC_RELEASE_ARGS }} version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}


  verify__scripts:
    name: Verify w/ scripts/setup_ci.ba.sh
    needs: verify
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - uses: percebus/github-actions-python/.github/actions/setup@main
      - uses: percebus/github-actions-node/.github/actions/setup@main
      - uses: percebus/github-actions-npm/.github/actions/install@main

      - name: scripts/setup_ci.ba.sh
        run: bash scripts/setup_ci.ba.sh

      - name: pypyr ci
        run: pipx run -- pypyr ci

  verify__matrix:
    needs: verify
    if: github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        # Different OS
        OS:
          - ubuntu-latest
          - macos-latest
          - windows-latest

        # Past/Future versions
        python-version:
          # - 3.11 # poetry is not setup
          - 3.12.x # latest 3.12.x

          # FIXME PEP517 build of a dependency failed
          # - not supporting PEP 517 builds
          # - not specifying PEP 517 build requirements correctly
          # - the build requirements are incompatible with your operating system or Python version
          # - the build requirements are missing system dependencies (eg: compilers, libraries, headers).
          # You can verify this by running pip wheel --no-cache-dir --use-pep517 "pandas (==2.2.2)".
          - 3.13.x # FIXME only fails in ubuntu-linux

        # Different architectures
        architecture:
          - x64
          # - arm64 # "The version '3.12.x' with architecture 'arm64' was not found for Ubuntu 22.04."

        # FIXME XXX only fails in ubuntu-linux
        exclude:
          - OS: ubuntu-latest
            architecture: x64
            python-version: 3.13.x

    runs-on: ${{ matrix.OS }}
    name: "Verify: python@${{ matrix.python-version }} @ ${{ matrix.OS }}@${{ matrix.architecture }}"
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - uses: percebus/github-actions-python/.github/actions/setup@main
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - uses: percebus/github-actions-pip/.github/actions/install-upgrade@main
      - uses: percebus/github-actions-pipx/.github/actions/install@main
      - uses: percebus/github-actions-poetry/.github/actions/self_add_plugins@main
      - uses: percebus/github-actions-poetry/.github/actions/install@main

      - uses: percebus/github-actions-node/.github/actions/setup@main
      - uses: percebus/github-actions-npm/.github/actions/install@main

      - name: pypyr test
        run: pipx run -- pypyr ci

  # TODO? merge into verify?
  codeQL__matrix:
    needs: verify
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language:
          - actions
          - python
          - javascript

    name: "CodeQL: ${{ matrix.language }}"
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - uses: percebus/github-actions-compliance/.github/actions/codeql_analyze@main
        with:
          language: ${{ matrix.language }}

  docker_compose:
    name: docker compose
    needs: verify
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - name: scripts/prepare.ba.sh
        run: bash scripts/prepare.ba.sh

      - name: docker compose up
        run: docker compose up --abort-on-container-exit

  docker_build__matrix:
    needs: docker_compose
    continue-on-error: true
    strategy:
      max-parallel: 10
      matrix:
        include:
          # - base
          # - project
          # - dev
          - target: tested
            scan-image: false

          # - base
          # - project
          - target: release
            scan-image: ${{ github.ref == 'refs/heads/main' }}

    runs-on: ubuntu-latest
    name: docker build --target ${{ matrix.target }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - name: scripts/prepare.ba.sh
        run: bash scripts/prepare.ba.sh

      - uses: percebus/github-actions-docker/.github/actions/build@main
        with:
          target: ${{ matrix.target }}
          scan-image: ${{ matrix.scan-image }}
