name: Pull Request

# "This run was triggered by the "push" event, which is unsupported.
#  Please ensure you are using the "pull_request" event for this workflow."
on:
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  semantic-pull-request:
    uses: percebus/github-actions-compliance/.github/workflows/semantic-pull-request.yml@main

  dependency-review:
    uses: percebus/github-actions-pipx/.github/workflows/dependency-review.yml@main
    permissions:
      contents: read
      pull-requests: read
    with:
      audit-requirements-file: requirements.release.txt

  # package.json dependencies
  npm_audit:
    uses: percebus/github-actions-npm/.github/workflows/audit.yml@main
